<div class="container-site"> 
  <div class="row">
    <div class="col s12">
      <div class="card-panel white">
        <h1 class="center-align">About</h1>
        <div class="divider" style="margin-bottom: 45px"></div>
        <p class="about-description">Travelution is a travelers <span style="color: #b71c1c; font-weight: bold">commnunity</span> of people that loves to travel and wants to share with the rest of the world their favorite destinations. Use the platform to find those places that you've already crossed from your bucket list and be sure to <span style="color: #b71c1c; font-weight: bold">add an interesting fact</span> about this place that the locals shared with you!<br><br>

        Travelution uses <span style="color: #b71c1c; font-weight: bold">Google Maps</span> so you can search for that special place and we'll take care of filling out all the boring information so you only have to look for a place, add your interesting fact and share it with the community.<br><br>

        When looking to discover new destinations you can actually see what that places looks like now. The platform will find the coordinates for the destination and show you the <span style="color: #b71c1c; font-weight: bold">Google Street View</span> of such place!<br><br>

        So come join our community and remember:  Collect <span style="color: #b71c1c; font-weight: bold">MOMENTS</span>, not Things...</p>
      </div>
    </div>
  </div>
</div>