<!--  
  <div class="carousel carousel-slider center">
  <div class="row">
	<div class="col s6 center-align">
		<a href="/destinations/new" class="waves-effect waves-light btn light-blue darken-1">Add destination</a>
	</div>
	<div class="col s6 center-align">
		<a href="/destinations"><button class="btn btn-danger text-center light-blue darken-1" href="/destinations">View all destinations</button></a>
	</div>
</div>
    <a class="carousel-item" href="/destinations"><img src="http://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="/destinations"><img src="http://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="/destinations"><img src="http://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="/destinations"><img src="http://lorempixel.com/800/400/food/4"></a>
  </div> -->

 <div class="slider">
    <ul class="slides">
      <li>
        <img class="home-img" src="media/beach-1.jpg">
        <div class="caption center-align">
			<h2>Welcome to Travelution!</h2>
			<h5>The <span style="color: #039be5">evolution bla bla</span> of traveling</h5>
		</div>
      </li>
      <li>
        <img class="home-img" src="media/fiordo-2.jpg">
        <div class="caption left-align">
          <h3>Check out the best Destinations!!</h3>
          <a href="/destinations"><button class="btn btn-danger text-center light-blue darken-1" href="/destinations">View all destinations</button></a>
          <h5 class="light grey-text text-lighten-3">or...</h5>
        </div>
      </li>
      <li>
        <img class="home-img" src="media/northern-lights-3.jpg">
        <div class="caption right-align">
          <h3>Add your favorite destinations!!</h3>
          <a href="/destinations/new" class="waves-effect waves-light btn light-blue darken-1">Add destination</a>
          <h5 class="light grey-text text-lighten-3">and...</h5>
        </div>
      </li>
      <li>
        <img class="home-img" src="media/paris-4.jpg"> 
        <div class="caption center-align">
          <h3>Collect <span style="color: #b71c1c; font-weight: bold">MOMENTS</span></h3>
          <h5 class="light grey-text text-lighten-3">Not Things...</h5>
        </div>
      </li>
    </ul>
  </div>
        

<!-- 
<script>
	initMap(37.790841, -122.4034689);
</script> -->