
#background-photo {
	margin-top: -20px;
}

#searchBox {
  margin-top: 7px !important;
}

ul {
	list-style-type: none;
  height: 100% !important;
}

.search-form {
  display: inline !important;
}

.show-title{
  font-size: 30px !important;
  color: white;
  text-shadow: 4px 4px 8px #000000;
}

#showImg {
	border: 2px solid gray;
	border-radius: 5px;
  height: 400px;
  width: 100%;
}

.collectionTitle {
  color: #b71c1c;
  font-weight: bold;
}

.collectionData {
  padding-left: 40px;
}

.slider {
  width: 100% !important;
  height: 800px !important;
}

.slides {
  width: 100% !important;
}

.home-img {
  height: 800px !important;
}

h1{
  color: #b71c1c;
}

h2, h5 {
  color: white;
}

h3 {
  font-size: 90px;
}

.about-description {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

#login {
  background-color: #eceff1;
}

#titleLogIn {
  color: #039be5;
  font-size: 50px;
}

#destImg {
  height: 200px;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 5px;
  border: 3px solid gray;
}

#street-view {
  border: 2px solid gray;
  border-radius: 5px;
  height: 400px;
  width: 100%;
}

#mapNewDest {
  height: 445px;
  width: 100%;
  border: 2px solid gray;
  border-radius: 5px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

.card-btn {
  padding: 40px;
  margin-top: 40px;
}

.brand-logo {
  font-family: 'Lobster', cursive;
  font-size: 40px !important;
  padding-left: 15px !important;
}

.index-inter-fact {
  margin-top: 40px;
  font-size: 20px;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.container {
  width: 100% !important;
}
.container-site {
  padding-left: 40px;
  padding-right: 40px;
}
#target {
  width: 345px;
}